name: Auto-assign Enhancement Issues to Wishlist

on:
  issues:
    types: [opened, labeled]

permissions:
  issues: write
  contents: read

jobs:
  assign-to-wishlist:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'enhancement')
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      
      - name: Assign Enhancement Issues to Wishlist Milestone
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          target-milestone: "Wishlist"
          issue-label: "enhancement"