name: PR Check - Orchestrator
on:
  pull_request:
    types: [opened, synchronize, reopened]
permissions:
  contents: read
  issues: write
  pull-requests: read
jobs:
  quality-checks:
    name: Quality Checks & Unit Tests
    uses: ./.github/workflows/quality-checks.yaml
  ## Disabling the integration test on PRs to reduce noise in repo and runner costs.
  ## The test is still manually runnable via workflow_dispatch on the `test-issue-milestoner.yaml` workflow.
  # test-issue-milestoner:
  #   name: Integration Test - Issue Milestoner
  #   needs: quality-checks
  #   uses: ./.github/workflows/test-issue-milestoner.yaml
  #   with:
  #     pr_number: ${{ github.event.pull_request.number }}
  #     pr_author: ${{ github.event.pull_request.user.login }}
  #     pr_url: ${{ github.event.pull_request.html_url }}
  #     pr_branch: ${{ github.event.pull_request.head.ref }}
  #     pr_commit: ${{ github.event.pull_request.head.sha }}
  #   secrets: inherit